.address {

  p  {
    font-weight: 500;
    font-size: 18px;
    line-height: 1.5;
    margin: 0;
    margin-bottom: 40px;
  }

  a {
    transition: all 0.3s ease 0s;

    &:hover {
      opacity: 0.5;
      text-decoration: underline;
    }
  }

  &__link-wrapper {
    display: flex;
    flex-direction: column;
    gap: 25px;
  }

  &__link {
    display: flex;
    align-items: center;
    gap: 10px;
  }

  svg {
    flex: 0 0 18px;
  }
}
