.address {
  display: flex;
  flex-direction: column;
  margin-top: 75px;
  row-gap:32px;

  @include vp-1023 {
    flex-direction: column;
    margin-top: 68px;
    row-gap:27px;
  }

  p {
    font-weight: 500;
    font-size: 18px;
    line-height: 1.5;
    margin: 0;


    @include vp-1023 {

    }
  }

  address {
    font-style: normal;
  }

  a {
    font-style: normal;
    font-size: 16px;
    line-height: 1.5;
    transition: opacity 0.3s ease 0s;

    &:hover {
      opacity: 0.5;
      text-decoration: underline;
    }
  }

  svg {
    flex: 0 0 18px;

    @include vp-1023 {
      margin-top: 4px;
    }

    @include vp-767 {
      margin-top: 4px;
    }
  }
}


.address__link-wrapper {
  display: flex;
  flex-direction: column;
  gap: 21px;

}

.address__link {
  display: flex;
  align-items: flex-start;
  gap: 10px;
}
