.address {
  p {
    font-weight: 500;
    font-size: 18px;
    line-height: 1.5;
    margin: -34px 0 29px;

    @include vp-1023 {
      margin: -3px 0 25px;
    }
  }

  a {
    transition: all 0.3s ease 0s;

    &:hover {
      opacity: 0.5;
      text-decoration: underline;
    }
  }

  svg {
    flex: 0 0 18px;

    @include vp-1023 {
      transform: translateY(-5px);
    }

    @include vp-767 {
      transform: translateY(-4px);
    }
  }
}


.address__link-wrapper {
  display: flex;
  flex-direction: column;
  gap: 21px;
}

.address__link {
  display: flex;
  align-items: center;
  gap: 10px;
}
