.btn {
  display: grid;
  place-content: center;
  padding: 15px 20px;
  width: 100%;
  font-weight: 600;
  font-size: 14px;
  line-height: 1.5;

  background-color: $color-default-white;
  border: none;
  cursor: pointer;

  transition: opacity $trans-default;

  &--red {
    background-color: $color-torch-red;
  }

  &:disabled {
    opacity: 0.5;

    pointer-events: none;
  }

  @include hover-focus {
    opacity: 0.8;
  }
}
