.btn {
  display: inline-flex;
  justify-content: center;
  padding: 10px 10px;
  width: 100%;
  font-weight: 600;
  font-size: 14px;
  line-height: 1.5;
  transition: all 0.3s ease 0s;

  background-color: $color-default-white;
  border: none;
  cursor: pointer;


  &--red {
    background-color: $color-torch-red;
  }

  &:disabled {
    opacity: 0.5;

    pointer-events: none;
  }

  @include hover-focus {
    box-shadow: 3px 5px 5px 2px #c9c9c980;
  }

  &:active {
    transform: translateY(1px);
    box-shadow: inset 0 5px 5px 2px #00000040;
  }
}
