.card {
  position: relative;
  color: $color-default-white;
  display: flex;
  align-items: flex-end;
  width: 100%;
  aspect-ratio: 260/386;
  overflow: hidden;
  transition: all 0.3s ease 0s;

  @include vp-1023 {
    width: 100%;
  }

  @include vp-767 {
    aspect-ratio: 270/386;
  }

  &::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: $color-bg-support;
    opacity: 0;
  }

  h3 {
    font-weight: 500;
    font-size: 18px;
    line-height: 1.5;
    color: $color-default-white;
    margin: 0;
    grid-row: 2/3;
    grid-column: 1/-1;
    margin-left: 30px;
    margin-bottom: 23px;

    @include vp-1023 {
      margin-bottom: 27px;
      margin-left: 35px;
    }

    @include vp-767 {
      margin-bottom: 18px;
      margin-left: 25px;
    }
  }

  p {
    padding: 0;
    margin: 0;
    color: $color-default-white;
    font-weight: 500;
    font-size: 18px;
    line-height: 1.5;
    margin-bottom: 10px;
  }

  dt {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.4;
  }

  dd {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.4;
    margin: 0;
    margin-bottom: 10px;
  }
}


.card__preview img {
  width: 100%;
  object-fit: cover;

  @include vp-1023 {
    width: 100%;
  }

  @include vp-767 {
    width: 100%;
    height: 100%;
  }
}

.card__preview {
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;

  &::after {
    content: "";
    display: block;
    width: 100%;
    height: 50%;
    position: absolute;
    left: 0;
    bottom: 0;
    background: linear-gradient(#011c4000 0%, #011c40 100%);
  }
}

.card__content {
  color: $color-text-light;
  display: flex;
  transform: scale(0);
  flex-direction: column;
  padding: 35px 25px;
  padding-right: 15px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  justify-content: flex-start;
  background-color: $color-bg-support;
  transition: transform 0.3s ease 0s;
  transform-origin: bottom;
}

.card__content dl::-webkit-scrollbar {
  display: none;
}

.card__content dl {
  margin: 0;
  overflow: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.card:hover,
.card:focus,
.card:focus-visible {
  h3 {
    opacity: 0;
  }
  &::before {
    opacity: 1;
  }
}

.card:hover .card__content,
.card:focus .card__content,
.card:focus-within .card__content {
  transform: scale(1);
  z-index: 2;
  position: absolute;
  top: 0;
  bottom: 0;
  transform-origin: bottom;
}

.card:hover h3 {
  position: absolute;
  top: 0;
  z-index: 2;
}
