.card {
  overflow: hidden;
  background-color: $color-bg-dark;
  position: relative;
  transition: all 0.3s ease 0s;
  width: 100%;
  height: 386px;
  aspect-ratio: 260/386;

  @include vp-767 {
    aspect-ratio: 270/386;
  }

  &:hover {
    &::before {
      opacity: 1;
    }

    .card__content {
      transform: translate(0, 0);
      height: 100%;
    }

    dl {
      opacity: 1;
    }
  }

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    display: block;
    width: 100%;
    height: 100%;
    background: $color-bg-dark;
    opacity: 0;
    z-index: 2;
    transition: all 0.3s ease 0s;
  }

  h3 {
    font-weight: 500;
    font-size: 18px;
    line-height: 1.5;
    margin: 0;
    margin-bottom: 14px;
  }

  dl {
    margin: 0;
    opacity: 0;
  }

  dt {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.4;
    margin: 0;
    margin-bottom: 1px;
  }

  dd {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.4;
    margin: 0;
    margin-bottom: 12px;
  }
}


.card__preview img {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  object-fit: cover;
}

.card__preview {
  &::after {
    content: "";
    display: block;
    width: 100%;
    height: 50%;
    position: absolute;
    left: 0;
    bottom: 0;
    background: linear-gradient(#011c4000 0%, #011c40 100%);
  }
}

.card__content {
  position: absolute;
  color: $color-text-light;
  padding: 29px 24px 25px 26px;
  height: 100%;
  width: 100%;
  z-index: 3;
  transform: translate(6px, 79%);
  transition: all 0.3s ease 0s;

  @include vp-1023 {
    padding: 29px 36px;
    transform: translate(0, 78%);
  }

  @include vp-767 {
    padding: 29px 25px;
    transform: translate(0, 81%);
  }
}

.card__button {
  margin-top: 12px;
}
