.feature-card {
  display: flex;
  flex-direction: column;
  background-color: $color-default-white;
  padding: 30px 31px 46px 30px;
  height: 100%;

  @include vp-1023 {
    padding: 23px 5px 25px 20px;
  }

  @include vp-767 {
    padding: 23px 22px 21px 20px;
  }

  br {
    display: none;

    @include vp-767 {
      display: block;
    }
  }

  &__img {
    order: -1;
    margin-bottom: 19px;

    @include vp-1023 {
      margin-bottom: 15px;
      width: 36px;
    }

    @include vp-767 {
      margin-bottom: 15px;
    }

  }

  &__img--ship {

    @include vp-1023 {
      width: 21px;
    }

  }

  &__img--inclusive {

    @include vp-1023 {
      width: 27px;
    }

  }

  h3 {
    margin: 0;
    margin-bottom: 10px;
    font-size: 18px;
    line-height: 1.4;
    font-weight: 500;

    @include vp-1023 {
      line-height: 1.4;
    }

    @include vp-767 {
      padding-right: 50px;
    }
  }

  p {
    margin: 0;
    font-size: 14px;
    line-height: 1.4;
  }
}
