.form {
  background-color: $color-bg-dark;
  padding: 43px 50px 52px 50px;
  color: $color-text-light;
  width: 403px;

  @include vp-1023 {
    padding: 44px 50px 50px 50px;
  }

  @include vp-767 {
    padding: 35px 30px 41px;
    max-width: 290px;
  }

  h3 {
    font-weight: 500;
    font-size: 18px;
    line-height: 1.5;
    margin: 0;
    margin-bottom: 28px;
    text-align: left;

    @include vp-767 {
      line-height: 1.4;
      text-align: center;
      margin-bottom: 29px;
    }
  }

  input::placeholder {
    color: rgba(1, 28, 64, 0.7);
  }

  input:not([type="checkbox"]) {
    width: 100%;
    padding: 11px;
    border: none;
    padding-left: 16px;
    transition: outline 0.3s ease 0s, opacity 0.3s ease 0s;
    margin-bottom: 22px;


    @include vp-1023 {
      margin-bottom: 23px;

      @include vp-767 {
        margin-bottom: 22px;
      }
    }

    &:hover {
      outline: 3px solid $color-default-white;
      opacity: 0.9;
    }

    &:focus {
      outline: 3px solid $color-default-white;
      border: none;
    }

    &:active {
      outline: 3px solid $color-default-white;
      opacity: 0.7;
      border: none;
    }
  }

  .form__input-wrapper {
    width: 100%;
    position: relative;
    transition: outline 0.3s ease 0s;
  }
}

.form__checkbox {
  margin-top: 2px;
  margin-bottom: 28px;
  cursor: pointer;

  @include vp-1023 {
    margin-top: -3px;
    margin-bottom: 32px;
  }

  @include vp-767 {
    margin-top: -2px;
    margin-bottom: 27px;
  }

  label,
  input {
    cursor: pointer;
  }
}
