.form {
  background-color: $color-bg-dark;
  padding: 50px;
  color: $color-text-light;
  display: flex;
  flex-direction: column;
  gap: 20px;
  min-width: 270px;

  @include vp-767 {
    padding: 30px;
  }

  h3 {
    font-weight: 500;
    font-size: 18px;
    line-height: 1.5;
    margin: 0;

    @include vp-767 {
      line-height: 1.4;
      text-align: center;
    }

  }

  .form__input-wrapper input {
    width: 100%;
    padding: 11px;
    border: none;
    padding-left: 16px;
    transition: all 0.3s ease 0s;

    &:hover {
      outline: 3px solid $color-default-white;
      opacity: 0.9;
    }

    &:focus {
      outline: 3px solid $color-default-white;
      border: none;
    }

    &:active {
      outline: 3px solid $color-default-white;
      opacity: 0.7;
      border: none;
    }
  }

  .form__input-wrapper {
    width: 100%;
    position: relative;
    transition: all 0.3s ease 0s;
  }

}
