.social {
  a {
    color: inherit;
    padding: 1px;
    display: grid;
    place-content: center;
    transition: all 0.3s ease 0s;

    &:hover {
      opacity: 0.8;
      color: #dbd053;
      transform: scale(1.1);
    }

    &:active {
      opacity: 0.7;
      transform: scale(0.9);
    }
  }

  svg {
    @include vp-1023 {
      width: 16px;
    }
  }
}

.social__list {
  list-style: none;
  padding: 0;
  margin: 0;
  margin-top: 8px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px 23px;
  max-width: 120px;

  @include vp-1023 {
    gap: 20px 19px;
  }

  @include vp-767 {
    gap: 20px 18px;
    margin-left: -4px;
  }
}
